* { 
    font-family: Roboto, Arial, sans-serif;
    letter-spacing: 0;
}

.small-nav {
    background-color: #fff;
    height: 55px;
}
.logo-small {
    width: 20px;
    height: 20px;
}
.searchB {
    width: 20px;
    height: 20px;
}
.small-logo-box {
    align-content: center;
}

.main-nav {
    overflow: hidden;
    background-color: #2874f0;
    height: 56px;
    align-items: center;
}
.navbar-nav {
    flex-direction: row !important;
    width: 100% !important;
}
.input-wrapper {
    height: 36px;
    width: 35vw;
    align-content: center;
}
.input-wrapper input {
    border: none;
    padding: 0px 16px;
    width: 20vw;
    font-size: 14px;
}
.input-box {
    width: 42.666667% !important;
}
.input-wrapper input:focus {
    outline: none;
}
.search-img {
    float: right;
    margin-right: .5rem !important;
}
.logo {
    float: right;
}
.nav-btn {
    padding: 5px 40px;
    height: 31px;
    background-color: #fff;
    color: #2874f0;
    box-sizing: border-box;
    font-weight: 600;
    padding-top: 0;
    border: 0px;
    margin-left: 20px;
    margin-top: 3px;
}
.nav-item {
    align-content: center;
    align-items: center;
    margin-left: 37px;
}
.nav-item a {
    text-decoration: none;
    font-weight: 600;
}
.more-list img {
    transition: transform .1s ease-in-out;
}
.more-list:hover img {
    transform: rotate(180deg);
}
.cart-img {
    width: 21px;
    height: 21px;
}
.arrow-img {
    width: 16px;
    height: 16px;
}
.bottom-nav-links {
    font-weight: 600;
    font-size: 13px;
}
.bottom-nav-list {
    margin-left: 0px;
    cursor: pointer;
}
.bottom-nav-list img {
    transition: transform .1s ease-in-out;
}
.bottom-nav-list:hover a {
    color: #2874f0 !important;
}
.bottom-nav-list:hover img {
    transform: rotate(180deg);
}
.bottom-container {
    height: 40px;
    border-bottom: 1px solid #00000021;
    align-items: center;
    align-content: center;
}
.bottom-nav {
    z-index: 1;
    justify-content: center;
    position: absolute;
    top: 56px;
    width: 100%;
    background-color: #fff;
}
.main-content {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
.display {
    cursor:pointer;
    height:90vh;
    position: sticky;
    top: 95px;
    align-self: flex-start;
}
.cart-btn {
    box-sizing: border-box;
    height: 55px;
    color: #fff;
    background-color: #ff9f00;
    padding: 18px 8px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    width: 96%;
    border: none;
    float: left;
    font-weight: 600;
}
.buy-btn {
    box-sizing: border-box;
    height: 55px;
    color: #fff;
    background-color: #fb641b;
    padding: 18px 8px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    width: 98%;
    border: none;
    float: left;
    font-weight: 600;
}
.btn-box {
    width: 83%;
    margin-left: 80px;
}
.top-list-items{
    list-style:none;
}
.top-list-item{
    cursor:pointer;
    a{
        color:#878787;
        font-size:12px;
    }
    
}
.top-list-item:hover{
    a{
        color:#2874f0;
        font-size:12px;
    }
    
}

.right-img{
    width:12px;
    height:19px;
}
.accs {
    display: flex;
    align-items: center;
    width: 97px;
    overflow: hidden;

    &:hover{
        width:auto;
    }
}

.accs-txt {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    margin-right: 3px;
}
.top-list-vivo{
    a{
        color:#878787;
        font-size:12px;
    }
    
}
.share-icon{
    color:#878787;
        font-size:18px;
}
.top-right-item{
    cursor:pointer;
    a{
        color:#000;
        font-size:13px;
    }
    
}
.share-sec:hover{
    a{
        color:#2874f0;
  	font-weight:600;
    }
    .share-icon{
        color:#2874f0;
    }
}
.review{
    cursor:pointer;
    font-size:14px;
    font-weight: 500;
    color: #2874f0;
}
.plus-img{
    width:79px;
    height:29px;
}
.rate{
    font-weight:600;
}
.old-rate{
    color:#878787;
}
.offer{
    font-size:14px;
    color:#388e3c;
}
.offer-details{
    color:#388e3c;
}
.bank-title{
    font-weight:500;
}
.bank-offer-title{
    font-weight:500;
    font-size:14px;
}
.tc{
    color:#2874f0;
    font-size:14px;
    cursor:pointer;
    font-weight:500;
}
.tag-icon{
    width:22px;
    height:22px;
    margin-top:8px;
}
.exchange{
    padding:16px;
    box-sizing:border-box;
    height:45px;
    border-bottom:1px solid #e0e0e0;
    background-color:#f5faff;
}
.exchange-area{
    border-radius:3px;
    border:1px solid #e0e0e0;
}
.no-exchange{
    cursor:no-drop;
    padding:16px;
    box-sizing:border-box;
    height:83px;
    background-color:#fff;
}
.no-ex-contents{
    flex:top;
    box-sizing:border-box;
    height:25px;
    background-color:#fff;
}
.exchange-txt{
    font-size:14px;
}
.exchange-txt-low{
    font-size:14px;
    color:#878787;
}
.bold{
    font-weight:500;
}